<div class="container">
  <h1>About</h1>

  <p>This is a sample application designed to demonstrate how to add a credit card to a <a href="https://core.spreedly.com/manual/quickstart#sign-up-and-create-an-environment">Spreedly Environment</a> using JavaScript.</p>

  <p>It's all <a href="https://github.com/spreedly/sample-moon-vacations">open source and on Github</a> for you to use. We also have a number of <a href="https://docs.spreedly.com/resources/apps-libs/">other sample applications</a> you might find useful.</p>
</div>
