<div class="container">
  <div class="page-header">
    <h1><%= APP_NAME %></h1>
    <h2>
      <small>Want to get away? Book a vacation to the moon.</small>
      <br/>
      <small>Reservations do not include transportation. Please make your own arrangements.</small>
    </h2>
  </div>

  <p class="lead">
    <a href="/book">Book a Moon Vacation</a>
  </p>

</div>
